version: '3'
services:
  # postgres:
  #   image: 'postgres:latest'
  #   environment:
  #     - POSTGRES_PASSWORD=postgres_password
  # redis:
  #   image: 'redis:latest'
  nginx:
    restart: always
    # build:
    #   dockerfile: Dockerfile.dev
    #   context: ./nginx
    image: 'vinniiee/multi-nginx'
    expose:
      - '80'
  api:
    # build:
    #   dockerfile: Dockerfile.dev
    #   context: ./server
    image: 'vinniiee/multi-server'
    # volumes:
    #   - /app/node_modules
    #   - ./server:/app
    # environment:
    #   - REDIS_HOST=redis
    #   - REDIS_PORT=6379
    #   - PGUSER=postgres
    #   - PGHOST=postgres
    #   - PGDATABASE=postgres
    #   - PGPASSWORD=postgres_password
    #   - PGPORT=5432
  client:
    # build:
    #   dockerfile: Dockerfile.dev
    #   context: ./client
    image: 'vinniiee/multi-client'
#     volumes:
#       - /app/node_modules
#       - ./client:/app
#     environment:
# #            Fixes bug where websocket connection is fixed to default port 3000
#             - WDS_SOCKET_PORT=0
  worker:
    # build:
    #   dockerfile: Dockerfile.dev
    #   context: ./worker
    image: 'vinniiee/multi-worker'
    # volumes:
    #   - /app/node_modules
    #   - ./worker:/app
    # environment:
    #   - REDIS_HOST=redis
    #   - REDIS_PORT=6379
